<div class="row">
	{{gallery.filter}}
	<div class="col-sm-6 col-md-3"

			 ng-repeat="photo in gallery.photos | filter:{ title: gallery.getFilter(), albumId:gallery.getAlbumFilter()}|orderBy:gallery.getSortType() ">
		<div class="thumbnail">
			<div class="content">
				<img ng-src="{{ photo.url }}" alt="..."/>
				<div class="caption">
					<table>
						<tr>
							<td>Album ID:</td>
							<td>{{photo.albumId}}</td>
						</tr>
						<tr>
							<td>Photo ID:</td>
							<td>{{photo.id}}</td>
						</tr>
					</table>
					<hr/>
					<p>{{photo.title}}</p>

				</div>
			</div>
		</div>
	</div>
</div>