<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="image here"/>
      <div class="caption">
        <p>...</p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="image here"/>
      <div class="caption">
        <p>...</p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="image here"/>
      <div class="caption">
        <p>...</p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img alt="image here"/>
      <div class="caption">
        <p>...</p>

      </div>
    </div>
  </div>
</div>